<div id="bs-tour-action-trigger-wrapper">
  {% if block_settings %}
    {% if block_settings.type == 'text' %}
      <span class="bs-tour-action-trigger" >{{ block_settings.text }}</span>
    {% elseif block_settings.type == 'button' %}
      <input class="bs-tour-action-trigger" type="button" value="{{ block_settings.text }}" />
    {% endif %}
  {% endif %}
</div>
